name: Build Release

on: 
  workflow_dispatch:
  push:
    branches: "main"

jobs:

  # Validate Repository Configuration
  config:
    runs-on: ubuntu-latest
    outputs:
      config_package: ${{ steps.config_package.outputs.configPackage }}
    steps:

    # Ensure that required repository variable has been created for the Package
    - name: Validate Package Config
      id: config_package
      run: |
          echo "configPackage=true" >> $GITHUB_OUTPUT;

  # Get Version
  GetTargetVersion:
    needs: config
    runs-on: ubuntu-latest
    outputs:
      TargetVersion: ${{ steps.version.outputs.value }}
      PackageName: ${{ steps.package_name.outputs.value }}
      TagExist: ${{ steps.contains_tag.outputs.retval }}
    env:
      packagePath: .
    steps:
      # Checkout Local Repository
      - name: Checkout
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac

      # Get the Package version and name based on the package.json file
      - name: Get Version
        id: version
        uses: zoexx/github-action-json-file-properties@b9f36ce6ee6fe2680cd3c32b2c62e22eade7e590
        with: 
            file_path: "${{ env.packagePath }}/package.json"
            prop_path: "version"
      
      - name: Get Package Name
        id: package_name
        uses: zoexx/github-action-json-file-properties@b9f36ce6ee6fe2680cd3c32b2c62e22eade7e590
        with: 
            file_path: "${{ env.packagePath }}/package.json"
            prop_path: "name"

      # Check Exist
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: rickstaa/action-contains-tag@v1
        id: contains_tag
        with:
          reference: "main"
          tag: "${{ steps.version.outputs.value }}"
          frail: false

  # Build and release the Package
  # If the repository is not configured properly, this job will be skipped
  build:
    needs: GetTargetVersion
    runs-on: ubuntu-latest
    env:
      packagePath: .
    if: always() && (needs.GetTargetVersion.outputs.TagExist == 'false')
    steps:

      # Checkout Local Repository
      - name: Checkout
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac

      #Configure the Environment Variables needed for releasing the Package
      - name : Set Environment Variables1
        run: |
           echo "version=${{ needs.GetTargetVersion.outputs.TargetVersion }}" >> $GITHUB_ENV
           echo "packageName=${{ needs.GetTargetVersion.outputs.PackageName }}" >> $GITHUB_ENV

      - name : Set Environment Variables2
        run: |
           echo "zipFile=${{ env.packageName }}-${{ env.version }}".zip >> $GITHUB_ENV

      # Zip the Package for release
      - name: Create Package Zip
        working-directory: "${{ env.packagePath }}"
        run: zip "${{ github.workspace }}/${{ env.zipFile }}" ./* -r -x .github .git '.git/*' '*~/*' '*.ps1*' 'docs' 'docs/*'
      
      # Build a list of .meta files for future use
      - name: Track Package Meta Files
        run: find "${{ env.packagePath }}/" -name \*.meta >> metaList
      
      # Make a release tag of the version from the package.json file 
      - name: Create Tag
        id: tag_version
        uses: rickstaa/action-create-tag@88dbf7ff6fe2405f8e8f6c6fdfd78829bc631f83
        with:
          tag: "${{ env.version }}"
      
      # Publish the Release to GitHub
      - name: Make Release
        uses: softprops/action-gh-release@de2c0eb89ae2a093876385947365aca7b0e5f844
        with:
          files: |
            ${{ env.zipFile }}
            ${{ env.packagePath }}/package.json
          tag_name: ${{ env.version }}

      - name: Generate token
        id: generate_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
          owner: yuki-2525
          repositories: vpm_sakurayuki_dev

      - name: Update Website
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ steps.generate_token.outputs.token }}
          repository: yuki-2525/vpm_sakurayuki_dev
          event-type: automatic-vpm-update
          client-payload: '{"env": "dev"}'
